body {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
  color: #e91e63;
}

.box {
  position: relative;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.box.active {
  border-color: #e91e63;
  background: #fff0f5;
}

.box-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.discount {
  background: #f44336;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 4px;
}

.tag {
  position: absolute;
  top: -0.52rem;       /* pull it above the box */
  right: 0;
  background: #ff4081;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  font-weight:bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  white-space: nowrap;
  z-index: 10;
}

.box-content {
  display: none;
  margin-top: 10px;
}

.box.active .box-content {
  display: block;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0;
}

.footer {
  text-align: center;
  margin-top: 20px;
    
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}
.intbox{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    padding: 8px 16px;
    position: relative;
}

.left {
  text-align: left;
    display:inline-block;
    position: relative;
}

.right {
  text-align: right;
    display:inline-block;
    position:relative;
}


button {
  background: #ff4081;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.sub, .orgprice {
  display:inline-block;
  font-size: 12px;
  font-weight: normal;
  color: #999; /* Color for Discount and sub text */
  margin-top: 2px;
  line-height: 1.2;
}
.orgprice{
    text-decoration-line: line-through;
}
